client

dev tun
# crea una interfaz virtual tipo tun0 para mandar tráfico IP por la VPN

proto udp
# usamos udp para conectarnos

remote 10.0.3.6 1194
# ip y puerto del servidor

ca /home/fsi03/fsi/ca/ca.pem
# indica donde esta el certificado de la ca

cert /home/fsi03/fsi/client/fsi.pem
# certificado del cliente

key /home/fsi03/fsi/client/fsi.key
# clave privada

resolv-retry infinite
# sigue intentando conectarse en vez de cortar

nobind
# el sistema elija un puerto

persist-key
# guarda la clave para cuando te reconectas

persist-tun
# mantiene la interfaz tun por si te caes

verb 3
# nivel de verbosidad, cuanto informa en la terminal