port 1194
# puerto donde el servidor OpenVPN queda escuchando

proto udp
# usa UDP para la conexión VPN

dev tun
# crea una interfaz virtual tipo tun0 para la VPN

ca /home/vpnserver/fsi/ca/ca.pem
# indica donde esta el certificado de la ca

cert /home/vpnserver/fsi/server/server.pem
# certificado del servidor VPN

key /home/vpnserver/fsi/server/server.key
# clave privada

dh /home/vpnserver/fsi/server/dh.pem
# parámetros de DH, usados para el intercambio seguro de claves

server 172.16.1.0 255.255.255.0
# define la red interna de la VPN
# el servidor queda como 172.16.1.1 y los clientes reciben IPs de esta red

topology subnet
# hace que la VPN use una topología simple tipo subred

keepalive 10 120
# manda señales cada 10 segundos
# si durante 120 segundos no hay respuesta, considera caída la conexión

persist-key
# mantiene cargadas las claves si la VPN se reinicia o reconecta

persist-tun
# mantiene la interfaz tun0 si la conexión se reinicia

verb 3
# nivel de verbosidad, cuanto informa en la terminal